:root {
    --main-accent: #95E1D3;
    --hover: #F38181;
    --title: #333;
    --text: #B6B6B6;
    --background: #FFF;
}
a {
    text-decoration: none;
}
ul {
    list-style-type: none;
}
body {
    font-family: 'Montserrat', serif;
    font-style: normal;
    line-height: normal;
    color:var(--text);
    background-color: var(--background);
    font-size:14px;
}

.logo {
    color:var(--main-accent);
    font-size: 30px;
    font-weight: 700;
}
.nav-list-link {
    color: var(--main-accent);
    font-weight: 400;
}
.nav-list-link:hover {
    color:var(--hover);
}

.services-info, .team-info {
    color: var(--title);
    font-family: 'Kaushan Script', cursive;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    text-align: center;
}
.services-title, .team-title {
    color: var(--title);
    font-size: 30px;
    font-weight: 700;
    font-variant: all-small-caps;
    text-align: center;
}
.services-list-title {
    color: var(--title);
    font-size: 14px;
    font-weight: 400;
    font-variant: small-caps;
}
.services-list-text {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.47;
}

.team-desc {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 400;
}
.team-list-name {
    color: var(--title);
    text-align: center;
    font-weight: 400;
    font-size: 14px;
    font-variant: all-small-caps;
}
.team-list-position {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-style: italic;
    font-weight: 300;
}

.footer-info {
    color: var(--title);
    font-weight: 400;
    font-size: 14px;
}
.footer-link {
    color:var(--hover);
}
.footer-form-input {
    width: 230px;
    height: 39px;
    border: 1px solid var(--text);

    color: var(--text);
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-style: italic;
    font-weight: 300;
    line-height: normal;
}
.footer-form-btn {
    width: 150px;
    height: 40px;

    background-color: var(--main-accent);
    color:var(--background);
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: normal;
    font-variant: all-small-caps;
    border: none;
}
