.header {
  padding: 17px 0;
  /* outline: 1px dotted blue; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  color: getColor("main-accent");
  font-size: 30px;
  font-weight: 700;
}
.nav-list {
  display: flex;
  gap: 55px;
  &__link {
    color: getColor("main-accent");
    font-weight: 400;
    position: relative;
  }
  &:hover {
    color: getColor("hover");
    &::after {
      content: "";
      display: block;
      width: 100%;
      height: 3px;
      background-color: getColor("hover");
      position: absolute;
      top: 30px;
      left: 0;
    }
  }
}