.services {
  padding: 63px 0;
  &-title {
    margin-top: 20px;
    margin-bottom: 65px;
  }
  // &-title::after {
  //   content: "";
  //   display: block;
  //   width: 60px;
  //   height: 4px;
  //   background-color: getColor("hover");
  //   margin: 0 auto;
  //   margin-top: 40px;
  // }
}
.services-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 102px;
  justify-content: center;
  &__item {
    display: flex;
    gap: 20px;
  }
  &__icon {
    fill: getColor("main-accent");
  }
  &__box {
    max-width: 310px;
  }
  &__title {
    color: getColor("title");
    font-weight: 400;
    font-size: 14px;
    font-variant: small-caps;
    margin-bottom: 20px;
  }
  &__text {
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.47;
    color: getColor("text");
  }
}
